# Ignore Python cache files
__pycache__/
Scrapers/__pycache__/

# Ignore migrations folder
migrations/

# Ignore specific test file
test.py

# Ignore environment variables file
.env

# Ignore instance folder
instance/
